<mat-card>
  <img mat-card-image src="https://via.placeholder.com/200x150" />
  <mat-card-title>{{ productItem.name }}</mat-card-title>
  <mat-card-content>{{ productItem.description }}</mat-card-content>
  <mat-card-content>{{ productItem.price | currency }}</mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Agregar</button>
  </mat-card-actions>
</mat-card>
