<mat-toolbar color="primary">
  <span>Challenge Coa</span>
  <span class="example-spacer"></span>
  <mat-form-field appearance="fill">
    <mat-label class="cuenta-opciones">Cuenta</mat-label>
    <mat-select disableRipple>
      <mat-option value="1"><a>Login</a></mat-option>
      <mat-option value="2"><a>Registro</a></mat-option>
      <mat-option value="3"><a>Salir</a></mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>
