.body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  width: 80%;
  max-width: 330px;
  text-align: center;
}

.ancho {
  width: 80%;
}

.boton {
  height: 50px;
}
