.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 3em;
}

.container > * {
  border: 1px solid #707070;
  border-radius: 5px;
  padding: 1.5em;
  margin: 2em;
  min-width: fit-content;
}
