<h3 class="titulo">Productos</h3>
<div class="productos-container">
  <mat-list role="list" *ngFor="let producto of productList">
    <app-producto [productItem]="producto"></app-producto>
  </mat-list>
</div>
