<div class="body">
  <h2>login</h2>
  <mat-form-field class="ancho" appearance="fill">
    <mat-label>Usuario</mat-label>
    <input matInput #user />
  </mat-form-field>
  <mat-form-field class="ancho" appearance="fill">
    <mat-label>Contraseña</mat-label>
    <input matInput type="password" #pass />
  </mat-form-field>
  <button mat-stroked-button color="primary" class="ancho boton">
    Ingresar
  </button>
</div>
